In [1]:
import pandas

In [3]:
df=pandas.read_csv("top_200_instagrammers.csv")
#import csv file

In [4]:
df
#display newly imported file

,Username,Channel Name,Country,Url,Main topic,Main video category,Likes,Likes Avg.,Posts,Followers,Boost Index,Comments Avg.,Views Avg.,Avg. 1 Day,Avg. 3 Day,Avg. 7 Day,Avg. 14 Day,Avg. 30 Day,Engagement Rate,Engagement Rate (60 Days)
0,cristiano,cristiano,ES,https://www.instagram.com/cristiano,Sports,Sports,2.287645e+10,8.671953e+06,3328,465027234,92,51758.330927,1.700949e+07,NaN,NaN,3.321113e+06,5.327340e+06,6.948659e+06,0.014916,0.015903
1,kyliejenner,kyliejenner,US,https://www.instagram.com/kyliejenner,NaN,NaN,4.304855e+10,8.296736e+06,6921,356687629,91,47534.120961,2.287547e+07,NaN,NaN,1.223002e+06,2.196528e+06,4.692459e+06,0.017617,0.016189
2,leomessi,leomessi,NaN,https://www.instagram.com/leomessi,NaN,NaN,4.670492e+09,6.895178e+06,875,347032978,90,47044.540305,1.176160e+07,NaN,4.810554e+06,3.199807e+06,5.359469e+06,5.668454e+06,0.015534,0.019045
3,selenagomez,selenagomez,US,https://www.instagram.com/selenagomez,NaN,NaN,8.442643e+09,6.252711e+06,1835,334551681,93,39167.115727,1.072397e+07,NaN,NaN,NaN,2.340219e+06,2.340219e+06,0.013913,0.007720
4,therock,therock,US,https://www.instagram.com/therock,NaN,NaN,9.562231e+09,1.874151e+06,6660,327064138,91,8529.747043,5.413831e+06,NaN,NaN,7.139700e+05,1.101339e+06,1.165227e+06,0.004426,0.003723
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,luansantana,luansantana,BR,https://www.instagram.com/luansantana,NaN,NaN,1.121343e+08,2.055880e+05,714,33024460,79,4795.100970,5.287625e+05,NaN,2.110623e+05,1.293861e+05,1.938759e+05,1.824987e+05,0.005050,0.005092
196,danbilzerian,danbilzerian,CA,https://www.instagram.com/danbilzerian,Pets & Animals,Pets & Animals,2.355851e+09,2.044189e+06,1372,32938902,84,24680.813187,2.103653e+07,NaN,1.079742e+06,1.079742e+06,1.079742e+06,1.079742e+06,0.053036,0.033629
197,nickjonas,nickjonas,US,https://www.instagram.com/nickjonas,NaN,NaN,1.364537e+09,7.442257e+05,2315,32906383,78,2191.083551,1.089024e+06,NaN,6.552600e+04,6.552600e+04,6.552600e+04,3.396173e+05,0.017990,0.010766
198,gururandhawa,gururandhawa,US,https://www.instagram.com/gururandhawa,Education,Education,1.039639e+09,6.377582e+05,2140,32845959,83,3837.251476,2.267251e+06,NaN,2.182120e+05,2.324327e+05,3.073671e+05,2.898926e+05,0.015257,0.008365
199,iambeckyg,iambeckyg,US,https://www.instagram.com/iambeckyg,NaN,NaN,1.033749e+09,6.254215e+05,2270,32812027,71,1588.418605,1.020376e+06,NaN,2.329310e+05,3.001740e+05,3.218177e+05,3.962579e+05,0.014031,0.016422

In [5]:
df.info()
# shows 200 rows over 20 columns

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 20 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Username                   200 non-null    object
 1   Channel Name               200 non-null    object
 2   Country                    138 non-null    object
 3   Url                        200 non-null    object
 4   Main topic                 130 non-null    object
 5   Main video category        133 non-null    object
 6   Likes                      200 non-null    float64
 7   Likes Avg.                 200 non-null    float64
 8   Posts                      200 non-null    int64
 9   Followers                  200 non-null    int64
 10  Boost Index                200 non-null    int64
 11  Comments Avg.              200 non-null    float64
 12  Views Avg.                 197 non-null    float64
 13  Avg. 1 Day                 61 non-null     float64
 14  Avg. 3 Day                 125 non-null    float64
 15  Avg. 7 Day                 162 non-null    float64
 16  Avg. 14 Day                186 non-null    float64
 17  Avg. 30 Day                195 non-null    float64
 18  Engagement Rate            200 non-null    float64
 19  Engagement Rate (60 Days)  200 non-null    float64
dtypes: float64(11), int64(3), object(6)
memory usage: 31.4+ KB

In [8]:
df.isna().sum()
# from 20 columns, we are missing data from 9
# most data missing from "Avg. 1 Day"

Username                       0
Channel Name                   0
Country                       62
Url                            0
Main topic                    70
Main video category           67
Likes                          0
Likes Avg.                     0
Posts                          0
Followers                      0
Boost Index                    0
Comments Avg.                  0
Views Avg.                     3
Avg. 1 Day                   139
Avg. 3 Day                    75
Avg. 7 Day                    38
Avg. 14 Day                   14
Avg. 30 Day                    5
Engagement Rate                0
Engagement Rate (60 Days)      0
dtype: int64

In [9]:
df.dropna()
# remove rows with missing data

,Username,Channel Name,Country,Url,Main topic,Main video category,Likes,Likes Avg.,Posts,Followers,Boost Index,Comments Avg.,Views Avg.,Avg. 1 Day,Avg. 3 Day,Avg. 7 Day,Avg. 14 Day,Avg. 30 Day,Engagement Rate,Engagement Rate (60 Days)
11,natgeo,natgeo,US,https://www.instagram.com/natgeo,Education,Education,2.521782e+09,3.046640e+05,10002,232020700,91,1225.234286,2.345345e+06,58181.000000,9.503430e+04,1.118059e+05,1.384514e+05,1.589927e+05,0.001092,0.000726
28,realmadrid,realmadrid,ES,https://www.instagram.com/realmadrid,Sports,Sports,5.446655e+09,1.009068e+06,6593,121711711,90,3553.235076,3.058170e+06,647959.750000,5.685336e+05,6.478594e+05,6.607303e+05,8.018483e+05,0.006819,0.007848
33,dualipa,dualipa,GB,https://www.instagram.com/dualipa,Music,Music,1.924650e+09,2.091782e+06,1224,85085187,74,4827.426546,2.892223e+06,487197.000000,6.596928e+05,9.358068e+05,9.397161e+05,1.173231e+06,0.018538,0.016525
34,gal_gadot,gal_gadot,US,https://www.instagram.com/gal_gadot,Entertainment,Entertainment,1.676682e+09,1.377080e+06,1676,83763785,85,4787.181416,3.104605e+06,481129.000000,4.811290e+05,4.701653e+05,4.701653e+05,5.809915e+05,0.012007,0.008213
38,nasa,nasa,US,https://www.instagram.com/nasa,Science & Technology,Science & Technology,3.464513e+09,1.172500e+06,3522,78572117,88,3965.166884,2.742670e+06,327227.500000,5.337893e+05,6.140620e+05,6.540257e+05,7.155648e+05,0.012580,0.010579
48,nba,nba,US,https://www.instagram.com/nba,Sports,Sports,3.706978e+09,3.740087e+05,12610,68938585,87,1014.688845,1.863379e+06,138689.750000,1.862250e+05,2.050048e+05,2.028919e+05,2.231046e+05,0.004285,0.003080
53,aliaabhatt,aliaabhatt,IN,https://www.instagram.com/aliaabhatt,Entertainment,Entertainment,2.402388e+09,1.759431e+06,1820,67428908,82,6892.528109,3.586776e+06,568946.000000,1.716864e+06,2.220580e+06,3.554326e+06,2.127323e+06,0.019699,0.041351
54,ronaldinho,ronaldinho,BR,https://www.instagram.com/ronaldinho,Sports,Sports,1.989158e+09,8.914141e+05,2921,67398061,78,4286.839060,2.453752e+06,218368.000000,2.183680e+05,3.295192e+05,2.611239e+05,3.473239e+05,0.010176,0.005793
59,marvel,marvel,TR,https://www.instagram.com/marvel,Movies,Trailers,2.118436e+09,3.287376e+05,6907,65358436,82,1066.221972,9.601538e+05,55538.666667,1.220173e+05,1.832578e+05,1.932484e+05,2.600009e+05,0.004710,0.005020
62,raffinagita1717,raffinagita1717,ID,https://www.instagram.com/raffinagita1717,Entertainment,Entertainment,2.782185e+09,3.871440e+05,9946,62899363,83,3716.759682,1.322063e+06,249344.200000,3.404371e+05,4.863225e+05,4.561411e+05,4.342161e+05,0.004511,0.007298
68,psg,psg,FR,https://www.instagram.com/psg,Sports,Sports,4.595183e+09,5.089904e+05,9761,61178714,86,1457.067602,2.135978e+06,162310.000000,2.812996e+05,2.912378e+05,3.714407e+05,3.590669e+05,0.007728,0.008321
71,manchesterunited,manchesterunited,GB,https://www.instagram.com/manchesterunited,Sports,Sports,3.168867e+09,3.846054e+05,9900,58974258,85,1878.230116,1.809835e+06,128884.333333,2.302396e+05,2.232697e+05,2.408085e+05,2.351521e+05,0.005464,0.005057
73,9gag,9gag,US,https://www.instagram.com/9gag,Pets & Animals,Pets & Animals,5.062668e+09,6.787113e+05,10021,58181054,86,5559.041481,3.613240e+06,202474.750000,2.274771e+05,2.217436e+05,2.585828e+05,2.689793e+05,0.008779,0.004668
74,marcelotwelve,marcelotwelve,BR,https://www.instagram.com/marcelotwelve,Shows,Shows,1.562555e+09,6.930382e+05,2671,57439765,86,2503.037244,3.041758e+06,194474.000000,2.800220e+05,3.582873e+05,4.026444e+05,6.505637e+05,0.010230,0.013071
75,karimbenzema,karimbenzema,ES,https://www.instagram.com/karimbenzema,Music,Music,1.474434e+09,8.765650e+05,2000,55869867,42,5392.554167,2.973552e+06,355367.000000,4.000750e+05,8.146912e+05,7.919042e+05,9.976083e+05,0.013317,0.023488
92,ayutingting92,ayutingting92,ID,https://www.instagram.com/ayutingting92,Music,Music,1.129273e+09,1.491400e+05,10018,52170594,85,849.221254,9.343983e+05,19229.500000,4.538471e+04,4.077193e+04,5.713280e+04,7.472848e+04,0.002178,0.001786
96,hudabeauty,hudabeauty,US,https://www.instagram.com/hudabeauty,Fashion & Beauty,Fashion & Beauty,3.179300e+08,1.871839e+05,2330,50651842,82,2296.069552,1.458334e+06,28264.000000,1.961850e+04,1.883667e+04,1.994660e+04,1.962622e+04,0.002740,0.000655
101,krisjenner,krisjenner,US,https://www.instagram.com/krisjenner,Entertainment,Entertainment,1.842956e+09,3.541274e+05,6327,49106907,80,1544.501060,1.364591e+06,107707.000000,5.804467e+05,5.932228e+05,5.024894e+05,4.506927e+05,0.006015,0.010083
104,gucci,gucci,IT,https://www.instagram.com/gucci,Comedy,Comedy,9.687797e+08,1.165550e+05,8791,48757827,86,482.491371,4.781549e+05,76387.666667,7.065280e+04,9.107905e+04,7.912755e+04,8.203816e+04,0.002287,0.001964
107,dovecameron,dovecameron,US,https://www.instagram.com/dovecameron,Entertainment,Entertainment,2.049676e+08,1.609563e+06,170,48100914,85,2931.680707,2.165141e+06,994345.500000,9.943455e+05,1.071102e+06,1.071102e+06,1.675806e+06,0.025255,0.034700
118,larissamanoela,larissamanoela,BR,https://www.instagram.com/larissamanoela,Autos & Vehicles,Autos & Vehicles,2.282084e+09,5.799009e+05,5156,46091767,85,6269.254213,9.480505e+05,108058.000000,2.143283e+05,1.706303e+05,3.265506e+05,2.109335e+05,0.009754,0.004588
123,natgeotravel,natgeotravel,US,https://www.instagram.com/natgeotravel,Travel & Events,Travel & Events,2.573722e+09,1.898640e+05,16939,45782549,82,455.881936,7.186328e+05,33334.500000,3.497267e+04,4.610657e+04,4.754796e+04,4.888143e+04,0.003330,0.001163
124,nikefootball,nikefootball,US,https://www.instagram.com/nikefootball,Sports,Sports,5.627883e+08,4.312402e+05,1797,45180601,85,903.104377,6.992610e+05,64865.000000,1.296870e+05,1.430758e+05,1.894925e+05,1.750886e+05,0.006958,0.004447
128,maisa,maisa,BR,https://www.instagram.com/maisa,Nonprofits & Activism,Nonprofits & Activism,6.203293e+08,5.647557e+05,1452,43950253,42,2424.506885,1.038533e+06,238759.000000,1.104110e+06,1.428235e+06,7.197294e+05,5.255441e+05,0.010316,0.011284
136,buzzfeedtasty,buzzfeedtasty,ES,https://www.instagram.com/buzzfeedtasty,Travel & Events,Travel & Events,4.492592e+08,6.724715e+04,8617,42970746,85,454.873813,1.189326e+06,5123.500000,7.426333e+03,8.197000e+03,9.341558e+03,8.959895e+03,0.001227,0.000283
139,mariliamendoncacantora,mariliamendoncacantora,BR,https://www.instagram.com/mariliamendoncacantora,Music,Music,1.105446e+09,1.058071e+06,1429,41681598,73,10442.049091,9.808431e+06,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.018818,0.000251
161,worldstar,worldstar,US,https://www.instagram.com/worldstar,Comedy,Comedy,1.158924e+10,1.575462e+05,99022,37818287,78,2493.199621,1.056852e+06,35157.000000,5.258280e+04,7.420832e+04,7.268365e+04,7.153115e+04,0.003166,0.001961
167,laudyacynthiabella,laudyacynthiabella,ID,https://www.instagram.com/laudyacynthiabella,Movies,Movies,4.480059e+07,1.727738e+05,379,36677982,76,544.690745,4.367245e+05,49424.000000,4.942400e+04,4.942400e+04,1.908000e+04,4.564467e+04,0.003290,0.001219
174,mercedesbenz,mercedesbenz,VG,https://www.instagram.com/mercedesbenz,Autos & Vehicles,Autos & Vehicles,1.583277e+09,1.978979e+05,9990,35833928,77,384.908284,3.581595e+05,29792.800000,3.874125e+04,4.465015e+04,5.083553e+04,5.899436e+04,0.004443,0.001817
190,khabib_nurmagomedov,khabib_nurmagomedov,RU,https://www.instagram.com/khabib_nurmagomedov,Sports,Sports,2.603950e+09,6.936155e+05,4509,33561258,63,5063.583133,2.562603e+06,144171.000000,1.441710e+05,2.511383e+05,2.095368e+05,3.995794e+05,0.017385,0.012053

In [12]:
newdf=df.dropna()
# newly cleaned file given a new name ("newdf")

In [14]:
newdf.shape
# shows we have lost 170 rows
# too much data lost so not advised to use this dataset

(30, 20)

In [166]:
df=pandas.read_csv("History_of_Mass_Shootings_in_the_USA.csv")
# importing a new file

In [167]:
df
# displaying the new file

,Date,City,State,Dead,Injured,Total,Description
0,2022-07-07,Chicago,Illinois,0,4,4,Four people were wounded in a drive-by shootin...
1,2022-07-06,Tampa,Florida,0,4,4,Four people were shot at an intersection in th...
2,2022-07-06,Chicago,Illinois,0,4,4,Four people were shot after three men got out ...
3,2022-07-06,St. Cloud,Minnesota,0,4,4,An argument in an alleyway escalated into a sh...
4,2022-07-05,Youngstown,Ohio,1,3,4,"Four people were shot, one fatally, in the par..."
...,...,...,...,...,...,...,...
2642,1933-06-17,Kansas City,Missouri,5,3,8,Kansas City Massacre: Four law enforcement off...
2643,1929-12-25,Germanton,North Carolina,7,0,7,Murder of the Lawson family: Charles Lawson sh...
2644,1929-02-14,Chicago,Illinois,7,0,7,Saint Valentine's Day Massacre: Seven members ...
2645,1927-11-21,Serene,Colorado,6,0,6,Columbine Mine Massacre: A fight broke out bet...
2646,1924-09-09,Hanapepe,Hawaii,20,0,20,Hanapepe Massacre: During a strike of Filipino...

In [168]:
df.isna().sum()
# checking for missing data
# data missing from only one column - "state"

Date           0
City           0
State          5
Dead           0
Injured        0
Total          0
Description    0
dtype: int64

In [169]:
df.dropna()
# deleted rows with missing data and only lost 5 rows
# will continue with this data

,Date,City,State,Dead,Injured,Total,Description
0,2022-07-07,Chicago,Illinois,0,4,4,Four people were wounded in a drive-by shootin...
1,2022-07-06,Tampa,Florida,0,4,4,Four people were shot at an intersection in th...
2,2022-07-06,Chicago,Illinois,0,4,4,Four people were shot after three men got out ...
3,2022-07-06,St. Cloud,Minnesota,0,4,4,An argument in an alleyway escalated into a sh...
4,2022-07-05,Youngstown,Ohio,1,3,4,"Four people were shot, one fatally, in the par..."
...,...,...,...,...,...,...,...
2642,1933-06-17,Kansas City,Missouri,5,3,8,Kansas City Massacre: Four law enforcement off...
2643,1929-12-25,Germanton,North Carolina,7,0,7,Murder of the Lawson family: Charles Lawson sh...
2644,1929-02-14,Chicago,Illinois,7,0,7,Saint Valentine's Day Massacre: Seven members ...
2645,1927-11-21,Serene,Colorado,6,0,6,Columbine Mine Massacre: A fight broke out bet...
2646,1924-09-09,Hanapepe,Hawaii,20,0,20,Hanapepe Massacre: During a strike of Filipino...

In [170]:
dfcleaned=df.dropna()
# new name given to freshly cleaned file - "dfcleaned"

In [133]:
dfcleaned.sort_values("Date")
# sorting data by oldest date first continuing to present day

,Date,City,State,Dead,Injured,Total,Description
2646,1924-09-09,Hanapepe,Hawaii,20,0,20,Hanapepe Massacre: During a strike of Filipino...
2645,1927-11-21,Serene,Colorado,6,0,6,Columbine Mine Massacre: A fight broke out bet...
2644,1929-02-14,Chicago,Illinois,7,0,7,Saint Valentine's Day Massacre: Seven members ...
2643,1929-12-25,Germanton,North Carolina,7,0,7,Murder of the Lawson family: Charles Lawson sh...
2642,1933-06-17,Kansas City,Missouri,5,3,8,Kansas City Massacre: Four law enforcement off...
...,...,...,...,...,...,...,...
4,2022-07-05,Youngstown,Ohio,1,3,4,"Four people were shot, one fatally, in the par..."
3,2022-07-06,St. Cloud,Minnesota,0,4,4,An argument in an alleyway escalated into a sh...
2,2022-07-06,Chicago,Illinois,0,4,4,Four people were shot after three men got out ...
1,2022-07-06,Tampa,Florida,0,4,4,Four people were shot at an intersection in th...
0,2022-07-07,Chicago,Illinois,0,4,4,Four people were wounded in a drive-by shootin...

In [172]:
df=pandas.read_csv("Mother Jones - Mass Shootings Database, 1982 - 2022 - Sheet1.csv")
# importing addional data found online

In [173]:
df
# displaying newly imported file

,case,location,date,summary,fatalities,injured,total_victims,location.1,age_of_shooter,prior_signs_mental_health_issues,...,weapon_details,race,gender,sources,mental_health_sources,sources_additional_age,latitude,longitude,type,year
0,Highland Park July 4 parade shooting,"Highland Park, Illinois",7/4/22,"Suspected gunman Robert ""Bobby"" Crimo, 21, all...",7,46,53,Other,21,-,...,"AR-15 style rifle, possibly modified for rapid...",White,M,https://www.cbsnews.com/chicago/news/suspect-i...,-,-,-,-,Mass,2022
1,Church potluck dinner shooting,"Birmingham, Alabama",6/16/22,"Robert Findlay Smith, 70, opened fire with a h...",3,0,3,religious,70,-,...,-,White,M,https://apnews.com/article/alabama-birmingham-...,-,-,-,-,Mass,2022
2,Concrete company shooting,"Smithsburg, Maryland",6/9/22,The suspected 23-year-old gunman shot four cow...,3,1,4,workplace,23,-,...,-,-,M,https://www.washingtonpost.com/dc-md-va/2022/0...,-,-,-,-,Mass,2022
3,Tulsa medical center shooting,"Tulsa, Oklahoma",6/1/22,"Michael Louis, 45, killed four, including two ...",4,"(TK - ""fewer than 10""",TK,workplace,-,-,...,AR-15 style rifle,Black,M,https://www.nytimes.com/live/2022/06/01/us/tul...,-,-,-,-,Mass,2022
4,Robb Elementary School massacre,"Uvalde, Texas",5/24/22,"Salvador Ramos, 18, was identified by authorit...",21,17,38,School,18,yes,...,-,Latino,M,https://abcnews.go.com/US/texas-elementary-sch...,-,-,-,-,Mass,2022
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
127,Shopping centers spree killings,"Palm Bay, Florida",4/23/1987,"Retired librarian William Cruse, 59, was paran...",6,14,20,Other,59,Yes,...,"Sturm, Ruger Mini-14 semiautomatic rifle; 20-g...",white,Male,http://articles.latimes.com/1987-04-25/news/mn...,(Supreme Court of Florida Document) http://www...,http://articles.latimes.com/1987-04-25/news/mn...,28.0331886,-80.6429695,Spree,1987
128,United States Postal Service shooting,"Edmond, Oklahoma",8/20/1986,"Postal worker Patrick Sherrill, 44, opened fir...",15,6,21,Workplace,44,Unclear,...,".22-caliber, two .45-caliber Colt Model 1911-A...",white,Male,http://news.google.com/newspapers?id=dm8aAAAAI...,http://newsok.com/sherrill-feared-mental-illne...,http://news.google.com/newspapers?id=dm8aAAAAI...,35.6672015,-97.42937037,Mass,1986
129,San Ysidro McDonald's massacre,"San Ysidro, California",7/18/1984,"James Oliver Huberty, 41, opened fire in a McD...",22,19,41,Other,41,Yes,...,9mm Browning P35 Hi-Power semiautomatic handgu...,white,Male,http://www.utsandiego.com/san-ysidro-massacre/...,http://www.nctimes.com/news/local/article_2ba4...,http://www.utsandiego.com/san-ysidro-massacre/...,32.5520013,-117.0430813,Mass,1984
130,Dallas nightclub shooting,"Dallas, Texas",6/29/1984,"Abdelkrim Belachheb, 39, opened fire at an ups...",6,1,7,Other,39,Yes,...,9mm Smith & Wesson 459 semiautomatic handgun,white,Male,http://books.google.com/books?id=Hr3OBwP-lbUC&...,http://books.google.com/books?id=Hr3OBwP-lbUC&...,http://books.google.com/books?id=Hr3OBwP-lbUC&...,32.925166,-96.838676,Mass,1984
131,Welding shop shooting,"Miami, Florida",8/20/1982,"Junior high school teacher Carl Robert Brown, ...",8,3,11,Other,51,Yes,...,Mossberg 500 Persuader pump-action shotgun wit...,white,Male,http://www.nytimes.com/1982/08/21/us/gunman-in...,http://news.google.com/newspapers?id=uuYLAAAAI...,http://www.nytimes.com/1982/08/21/us/gunman-in...,25.796491,-80.226683,Mass,1982

In [174]:
df.isna().sum()
# checking for missing info

case                                0
location                            0
date                                0
summary                             0
fatalities                          0
injured                             0
total_victims                       0
location.1                          0
age_of_shooter                      0
prior_signs_mental_health_issues    0
mental_health_details               0
weapons_obtained_legally            0
where_obtained                      0
weapon_type                         0
weapon_details                      0
race                                0
gender                              0
sources                             0
mental_health_sources               0
sources_additional_age              0
latitude                            0
longitude                           0
type                                0
year                                0
dtype: int64

In [175]:
df.duplicated().sum()
# checking for duplicate info

0

In [275]:
additional_info=df[["date", "location", "fatalities", "injured", "total_victims", "case"]]
additional_info
# selecting only the columns I require and assigning that a new variable - "additional_info"

,date,location,fatalities,injured,total_victims,case
0,7/4/22,"Highland Park, Illinois",7,46,53,Highland Park July 4 parade shooting
1,6/16/22,"Birmingham, Alabama",3,0,3,Church potluck dinner shooting
2,6/9/22,"Smithsburg, Maryland",3,1,4,Concrete company shooting
3,6/1/22,"Tulsa, Oklahoma",4,"(TK - ""fewer than 10""",TK,Tulsa medical center shooting
4,5/24/22,"Uvalde, Texas",21,17,38,Robb Elementary School massacre
...,...,...,...,...,...,...
127,4/23/1987,"Palm Bay, Florida",6,14,20,Shopping centers spree killings
128,8/20/1986,"Edmond, Oklahoma",15,6,21,United States Postal Service shooting
129,7/18/1984,"San Ysidro, California",22,19,41,San Ysidro McDonald's massacre
130,6/29/1984,"Dallas, Texas",6,1,7,Dallas nightclub shooting
131,8/20/1982,"Miami, Florida",8,3,11,Welding shop shooting

In [276]:
additional_info.rename(columns={'date':'Date','location':'City','fatalities':'Dead','injured':'Injured','total_victims':'Total','case':'Description'})
# renaming the columns to make it easier to merge

,Date,City,Dead,Injured,Total,Description
0,7/4/22,"Highland Park, Illinois",7,46,53,Highland Park July 4 parade shooting
1,6/16/22,"Birmingham, Alabama",3,0,3,Church potluck dinner shooting
2,6/9/22,"Smithsburg, Maryland",3,1,4,Concrete company shooting
3,6/1/22,"Tulsa, Oklahoma",4,"(TK - ""fewer than 10""",TK,Tulsa medical center shooting
4,5/24/22,"Uvalde, Texas",21,17,38,Robb Elementary School massacre
...,...,...,...,...,...,...
127,4/23/1987,"Palm Bay, Florida",6,14,20,Shopping centers spree killings
128,8/20/1986,"Edmond, Oklahoma",15,6,21,United States Postal Service shooting
129,7/18/1984,"San Ysidro, California",22,19,41,San Ysidro McDonald's massacre
130,6/29/1984,"Dallas, Texas",6,1,7,Dallas nightclub shooting
131,8/20/1982,"Miami, Florida",8,3,11,Welding shop shooting

In [279]:
combined=pandas.merge(dfcleaned, additional_info, on=["City"]

SyntaxError: unexpected EOF while parsing (1654272622.py, line 1)